---
layout: default
---

<div class="featured-posts">
  <h1>Featured posts from Medium</h1>
  
    <article class="featured-post">
    <a href="https://medium.com/@michal.juhas/self-management-tools-to-boost-your-personal-growth-quickly-a446eca22e1c" target="_blank">
      <img
        src="./images/Self-management-cover-image-300x169px.jpg"
        title="Self-Management Tools To Boost Your Personal Growth, Quickly"
        alt="Self-Management Tools To Boost Your Personal Growth, Quickly"
        width="300"
        height="169"
      />
    </a>
    <h2 class="title">
      <a href="https://medium.com/@michal.juhas/self-management-tools-to-boost-your-personal-growth-quickly-a446eca22e1c" target="_blank">
        Self-Management Tools To Boost Your Personal Growth, Quickly
      </a>
    </h2>
  </article>

  <article class="featured-post">
    <a href="https://medium.com/@michal.juhas/feedback-matters-396fa4c96715" target="_blank">
      <img
        src="./images/Feedback-matters-cover-without-text.jpg"
        title="Feedback matters: Learnings from Toastmasters &amp; adoption in the business environment"
        alt="Feedback matters: Learnings from Toastmasters &amp; adoption in the business environment"
        width="300"
        height="169"
      />
    </a>
    <h2 class="title">
      <a href="https://medium.com/@michal.juhas/feedback-matters-396fa4c96715" target="_blank">
        Feedback matters: Learnings from Toastmasters &amp; adoption in the business environment
      </a>
    </h2>
  </article>
  
  <br class="clearBoth" />
  
  <h1>Featured from AmbitiousParents.blog</h1>

  <article class="featured-post">
    <a href="https://ambitiousparents.blog/an-open-letter-to-my-kids-who-cannot-read-yet-and-will-not-go-to-school-c732268e639d" target="_blank">
      <img
        src="./images/open-letter-cover-photo-300x169.jpg"
        title="An Open Letter To My Kids Who CANNOT Read Yet And Will NOT Go To School"
        alt="An Open Letter To My Kids Who CANNOT Read Yet And Will NOT Go To School"
        width="300"
        height="169"
      />
    </a>
    <h2 class="title">
      <a href="https://ambitiousparents.blog/an-open-letter-to-my-kids-who-cannot-read-yet-and-will-not-go-to-school-c732268e639d" target="_blank">
        An Open Letter To My Kids Who CANNOT Read Yet And Will NOT Go To School
      </a>
    </h2>
  </article>
  
  
  <br class="clearBoth" />
</div>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if excerpt_words != content_words %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">🙋 Read More</a>
      {% endif %}

      <div class="tags">
        {% for tag in post.tags %}
          <li><a class="tag" href="/tags#{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
      </div>

    </article>
  {% endfor %}

</div>
