---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    <a target="_blank" href="{{ page.link_url }}">
      <img class="book-cover" src="{{ page.image_url }}" />
    </a>
    <b>Author:</b> {{ page.author }}
    <br />
    <b>Get the book</b> <a target="_blank" href="{{ page.link_url }}">on Amazon</a>

    <div style="clear: both;"></div>

    {{ content }}
  </div>

  <div class="tags">
    {% for tag in page.tags %}
      <li><a class="tag" href="/tags#{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
  </div>

</article>
